{% extends "base.html" %}

{% block content %}
<a href="{% url 'home' %}" style="float:left"><button class="btn btn-secondary btn-sm">back</button></a>
<center>
    <h4>Search Results for {{search}}</h4><img src="http://openweathermap.org/img/wn/{{ icon }}@2x.png">
    {% for weather in weathers|batch:4%}
    <div class="row spaceOver">
      {% for col in weather %}
        <div class="col-sm-4 col-md-3">
          <div class="card">
            <div class="header">
                {{ col.city }}, {{ col.state}} {{col.temperature}} Fahrenheit and {{ col.wind }} mph Wind Speed
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</center>
{% endblock content %}

